// |=============== CONTAINER ===============>
// |CM| Width and indents of the container
$contentWidth: 1340px;
$containerOffset: 31px;
$containerWidth: $contentWidth + ($containerOffset * 2);

// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primaryFontFamily: "Poppins", system-ui;

// |=============== COLOR ===============>
// |CM| Change favorite color (Gunmetal - 200)
$hueColor: 200;
// |CM| HSL color mode
$primaryColor: hsl($hueColor 19% 18%);
$secondColor: hsl($hueColor 11% 37%);
$thirdColor: hsl($hueColor 24% 29%);
$fourthColor: hsl($hueColor 73% 11% / 0.7);
$fifthColor: hsl(223 11% 60%);
$sixthColor: hsl(223 25% 22%);
$seventhColor: hsl(0 0% 96%);
$eighthColor: hsl(0 0% 93%);
$ninthColor: hsl(0 0% 77%);
// |CM| Universal colors
$whiteColor: hsl(0 0% 100%);
$blackColor: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primaryFontWeight: 500;
// |CM| Additional font-weights
$secondFontWeight: 600;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$textSizeBase: 16px;
// |CM| Different font-size options
$textSizeMinLarge: $textSizeBase - 5px;
$textSizeMinHuge: $textSizeBase - 4px;
$textSizeTiny: $textSizeBase - 3px;
$textSizeSmall: $textSizeBase - 2px;
$textSizeMedium: $textSizeBase + 2px;
$textSizeBig: $textSizeBase + 4px;
$textSizeLarge: $textSizeBase + 6px;
$textSizeHuge: $textSizeBase + 8px;
$textSizeMaxTiny: $textSizeBase + 14px;
$textSizeMaxSmall: $textSizeBase + 18px;
$textSizeMaxMedium: $textSizeBase + 20px;
$textSizeMaxBig: $textSizeBase + 32px;
$textSizeMaxLarge: $textSizeBase + 48px;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primaryBr: 5px;
// |CM| Additional border-radiuses
$secondBr: 10px;
$thirdBr: 15px;

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$fastTransitionDuration: 0.2s;
$mediumTransitionDuration: 0.3s;
$slowTransitionDuration: 0.4s;

// |=============== Z-INDEX ===============>
// |CM| Ready z-index values for different components
$primaryZ: -1;
$secondZ: 0;
$thirdZ: 1;
$fourthZ: 2;
$fifthZ: 3;
