<footer class="site-footer">
  <div class="container site-footer__container">
    <a class="logo-footer site-footer__logo" href="#">
      <img class="logo-footer__picture" src="img/sprites/sprite.svg#logo-britlex" width="104" height="29" decoding="async" loading="lazy" alt="Logo of the Britlex School of Foreign Languages.">
    </a>
    <ul class="list-footer site-footer__list">
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          Terms and Conditions
        </a>
      </li>
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          Privacy Policy
        </a>
      </li>
      <li class="list-footer__item">
        <a class="list-footer__link" href="#">
          Cookie Policy
        </a>
      </li>
    </ul>
  </div>
</footer>
