<header class="site-header site-header_indent" id="site-header">
  <div class="container site-header__container">
    <a class="logo-header site-header__logo" href="#">
      <img class="logo-header__picture" src="img/sprites/sprite.svg#logo-britlex" width="104" height="29" decoding="async" loading="lazy" alt="Logo of the Britlex School of Foreign Languages.">
    </a>
    <div class="overlay site-header__overlay" id="overlay">
      <div class="content-header site-header__content">
        <button class="content-header__close" type="button" aria-controls="overlay" aria-expanded="true" aria-label="Close site navigation."></button>
        <nav class="nav-header content-header__nav" aria-label="Primary.">
          <ul class="nav-header__list">
            <li class="nav-header__item">
              <a class="nav-header__link" href="#site-header">Home</a>
            </li>
            <li class="nav-header__item">
              <a class="nav-header__link" href="#section-skills">Skills</a>
            </li>
            <li class="nav-header__item">
              <a class="nav-header__link" href="#section-about">About&nbsp;Us</a>
            </li>
            <li class="nav-header__item">
              <a class="nav-header__link" href="#section-pricing">Pricing</a>
            </li>
            <li class="nav-header__item">
              <a class="nav-header__link" href="#section-contact">Contacts</a>
            </li>
          </ul>
        </nav>
        <a class="content-header__sign-up" href="#">
          Let&rsquo;s Talk
        </a>
      </div>
    </div>
    <button class="burger-header site-header__burger" type="button" aria-controls="overlay" aria-expanded="false" aria-label="Open site navigation.">
      <span class="burger-header__line burger-header__line_first" aria-hidden="true"></span>
      <span class="burger-header__line burger-header__line_second" aria-hidden="true"></span>
      <span class="burger-header__line burger-header__line_third" aria-hidden="true"></span>
    </button>
  </div>
</header>
