<section class="section-about section-about_indent" id="section-about" aria-label="You have moved to the about us section.">
  <div class="container section-about__container">
    <div class="content-about section-about__content">
      <h2 class="title content-about__title">
        About&nbsp;Us
      </h2>
      <p class="desc content-about__desc">
        The model offers a&nbsp;framework for discussing problems related to&nbsp;the user&rsquo;s experience, as&nbsp;well as&nbsp;possible ways and means of&nbsp;solving them. Application development begins at&nbsp;the top level (strategy), where the future software product is&nbsp;described quite abstractly from the point of&nbsp;view of&nbsp;the expectations of&nbsp;both users and the customer.
      </p>
      <div class="list-about content-about__list">
        <div class="list-about__item">
          <span class="list-about__number">
            800
          </span>
          <span class="list-about__explanation">
            Pupils
          </span>
        </div>
        <div class="list-about__item">
          <span class="list-about__number">
            18
          </span>
          <span class="list-about__explanation">
            Teachers
          </span>
        </div>
        <div class="list-about__item">
          <span class="list-about__number">
            6
          </span>
          <span class="list-about__explanation">
            Foreign languages
          </span>
        </div>
      </div>
    </div>
    <img class="section-about__picture" src="img/sprites/sprite.svg#fv-business-competition-bg" width="500" height="500" decoding="async" loading="lazy" aria-hidden="true" alt="">
  </div>
</section>
