<section class="section-contact" id="section-contact" aria-label="You have moved to the contacts section.">
  <div class="container section-contact__container">
    <img class="section-contact__picture" src="img/sprites/sprite.svg#fv-man-with-airplane-bg" width="477" height="429" decoding="async" loading="lazy" aria-hidden="true" alt="">
    <div class="content-contact section-contact__content">
      <h2 class="title content-contact__title">
        Contact&nbsp;Us
      </h2>
      <p class="desc content-contact__desc">
        Discover your current English level by&nbsp;taking our free online English test. Sign up&nbsp;to&nbsp;our newsletter for learning tips and free resources.
      </p>
      <form class="form-contact content-contact__form" name="formSubscribe" action="#" method="get">
        <input class="form-contact__email" type="email" name="formSubscribeEmail" placeholder="Enter Your E-mail" translate="no" autocapitalize="off" autocorrect="false" autocomplete="email" spellcheck="false" aria-label="Enter your email address" required>
        <button class="form-contact__subscribe" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
