<section class="section-hero section-hero_indent" id="section-hero" aria-label="You have moved to the hero section.">
  <div class="container section-hero__container">
    <div class="content-hero section-hero__content">
      <h1 class="title-hero content-hero__title">
        <span class="title-hero__word">Learn</span> any foreign language
      </h1>
      <p class="content-hero__desc">
        With our teachers who write a&nbsp;program for each student, you will be&nbsp;able to&nbsp;make your first sketch after the first lesson.
      </p>
      <a class="content-hero__get-started" href="#">
        Get started
      </a>
    </div>
    <img class="section-hero__picture" src="img/sprites/sprite.svg#fv-girl-in-headphones-bg" width="661" height="661" decoding="async" loading="lazy" aria-hidden="true" alt="">
  </div>
</section>
