<section class="section-pricing section-pricing_indent" id="section-pricing" aria-label="You have moved to the pricing section.">
  <div class="container section-pricing__container">
    <h2 class="title section-pricing__title">Pricing</h2>
    <ul class="list-pricing section-pricing__list">
      <li class="list-pricing__item list-pricing__item_online">
        <article class="list-pricing__content">
          <h3 class="sub-title list-pricing__title">
            Self-study online course
          </h3>
          <p class="desc list-pricing__desc">
            Start learning English online in&nbsp;live classes with qualified&nbsp;EC teachers and students from all over the world.
          </p>
          <div class="currency-pricing list-pricing__currency">
            <span class="currency-pricing__amount">
              &pound;5.99
            </span>
            <span class="currency-pricing__period">
              per month
            </span>
          </div>
        </article>
      </li>
      <li class="list-pricing__item list-pricing__item_lesson">
        <article class="list-pricing__content">
          <h3 class="sub-title list-pricing__title">
            Live online classes
          </h3>
          <p class="desc list-pricing__desc">
            Interactive group classes with expert teachers. Free 7-day trial.
          </p>
          <div class="currency-pricing list-pricing__currency">
            <span class="currency-pricing__amount">
              &pound;12.99
            </span>
            <span class="currency-pricing__period">
              per month
            </span>
          </div>
        </article>
      </li>
      <li class="list-pricing__item list-pricing__item_webinar">
        <article class="list-pricing__content">
          <h3 class="sub-title list-pricing__title">
            Personal Tuition
          </h3>
          <p class="desc list-pricing__desc">
            Online one-to-one English tutoring&nbsp;&mdash; enjoy our first session for only&nbsp;$1.
          </p>
          <div class="currency-pricing list-pricing__currency">
            <span class="currency-pricing__amount">
              &pound;20.99
            </span>
            <span class="currency-pricing__period">
              per month
            </span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
