<section class="section-skills section-skills_indent" id="section-skills" aria-label="You have moved to the skills section.">
  <div class="container section-skills__container">
    <h2 class="title section-skills__title">Skills</h2>
    <ul class="list-skills section-skills__list">
      <li class="list-skills__item list-skills__item_speaking">
        <img class="list-skills__picture list-skills__picture_speaking" src="img/sprites/sprite.svg#fv-speaking-bg" width="390" height="390" decoding="async" loading="lazy" aria-hidden="true" alt="">
        <div class="list-skills__content">
          <h3 class="sub-title list-skills__title">
            Speaking
          </h3>
          <p class="list-skills__desc list-skills__desc_first">
            Improve your English skills and confidence. Live classes and interactive lessons online. 20% extra free for a&nbsp;limited time only.
          </p>
          <p class="list-skills__desc list-skills__desc_second">
            Learn English online and improve your skills through our high-quality courses and resources&nbsp;&mdash; all designed for adult language learners.
          </p>
          <a class="list-skills__more" href="#">
            Learn more
          </a>
        </div>
      </li>
      <li class="list-skills__item list-skills__item_writing">
        <img class="list-skills__picture list-skills__picture_writing" src="img/sprites/sprite.svg#fv-writing-bg" width="254" height="254" decoding="async" loading="lazy" aria-hidden="true" alt="">
        <div class="list-skills__content">
          <h3 class="sub-title list-skills__title">
            Writing
          </h3>
          <p class="list-skills__desc">
            One of&nbsp;the most important and extensive areas of&nbsp;natural science, the science that studies substances, also their composition.
          </p>
          <a class="list-skills__more" href="#">
            Learn more
          </a>
        </div>
      </li>
      <li class="list-skills__item list-skills__item_reading">
        <img class="list-skills__picture list-skills__picture_reading" src="img/sprites/sprite.svg#fv-reading-bg" width="304" height="202" decoding="async" loading="lazy" aria-hidden="true" alt="">
        <div class="list-skills__content">
          <h3 class="sub-title list-skills__title">
            Reading
          </h3>
          <p class="list-skills__desc">
            Perception and response actions of&nbsp;the user resulting from the use and/or upcoming use of&nbsp;the product, system or&nbsp;service.
          </p>
          <a class="list-skills__more" href="#">
            Learn more
          </a>
        </div>
      </li>
      <li class="list-skills__item list-skills__item_listening">
        <div class="list-skills__content">
          <h3 class="sub-title list-skills__title">
            Listening
          </h3>
          <p class="list-skills__desc">
            Here you can find activities to&nbsp;practise your listening skills. Listening will help you to&nbsp;improve your understanding.
          </p>
          <a class="list-skills__more" href="#">
            Learn more
          </a>
        </div>
        <img class="list-skills__picture list-skills__picture_listening" src="img/sprites/sprite.svg#fv-listening-bg" width="382" height="255" decoding="async" loading="lazy" aria-hidden="true" alt="">
      </li>
    </ul>
  </div>
</section>
